<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Главная </title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/index" class="navbar-brand">Главная</a>
            </div>

            <div>
                <ul class="nav navbar-nav">
                    <li><a href="/registration">Регистрация</a</li>
                    <li><a href="/login">Авторизация</a></li>
                    <li><a href="https://telegram.me/FinMotRebBot">Телеграмм Бот</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <script>
          function makeFetch(min, max) {

            }

          window.setInterval(function(){
          // сдесь будет get функция
        }, 5000);
    </script>
    <h2 class="text-center">Добро пожаловать в Финансовый Мотиватор Ребенка </h2><br><br><br>
    <h4 class="text-width">Этот сервис создан с целью воспитания, обучения и мотивирования ребенка.</h4><br>
    <h4 class="text-width">Так же с помощью данного сервиса можно контролировать денежные средства ваших детей.</h4><br>

     <h4 class="text-width">Вы можете создавать задачи для поручения их своим детям, указав вознаграждение. По факту выполнения ребенок получит на свой
        счет указанную сумму.</h4><br>

     <h4 class="text-width">В свою же очередь ребенок может создавать запросы на его нужды с указанием описания и суммы запроса.
        Вы можете закрыть запрос в пользу ребенка и он получит запрашиваемые средства.</h4><br>

     <h4 class="text-width">При подключении к сервису онлайн дневника вы можете прямо в сервисе увидеть успеваемость ваших детей и вознаградить их за
        хорошую учебу при желании.</h4><br>

     <h4 class="text-width">Так же вы можете просто по желанию перевести ребенку деньги или же оштрафовать ребенка, если он к примеру провинился. Тогда средства
        вернутся на ваш счет.</h4><br>

    <h4 class="text-width">Для начала работы Используйте следующие логины:
        Для родителя: andrew_parent andrew_parent
        Для ребенка: andrew_child andrew_child</h4><br>




</div>
</body>
</html>