<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>GIS Logistics</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #floating-panel {
        position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
      }
      #warnings-panel {
        width: 100%;
        height:10%;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    &nbsp;
    <div id="warnings-panel"></div>
    <script>
      function initMap() {
        var markerArray = [];

        // Instantiate a directions service.
        var directionsService = new google.maps.DirectionsService;

        // Create a map and center it on Manhattan.
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 13,
          center: {lat: {{lat}}, lng: {{lng}}}
        });
        var start_x = {{start_x}} // массив с точками x
        var start_y = {{start_y}} // массив с точками y
        var end_x = {{end_x}} // массив с точками x
        var end_y = {{end_y}} // массив с точками y
        // var waypoints_x = {{waypoints_x}} // массив с промежуточными точками x
        // var waypoints_y = {{waypoints_y}} // массив с промежуточными точками x
        var rating = {{rating}} // массив рейтингов для подкраски

        for (var i = 0; i < start_x.length; i++) {
          var start = new google.maps.LatLng(start_x[i], start_y[i]);
          var end = new google.maps.LatLng(end_x[i], end_y[i]);
          // var points_x = waypoints_x[i];
          // var points_y = waypoints_y[i];
          // подкращиваем в зависимости от цвета
          if (rating[i] == 5) {
            color = "#be001d"
          }
          if (rating[i] == 4) {
            color = "#bc5e0b"
          }
          if (rating[i] == 3) {
            color = "#baa000"
          }
          if (rating[i] == 2) {
            color = "#93b817"
          }
          if (rating[i] == 1) {
            color = "#46b922"
          }
          // Create a renderer for directions and bind it to the map.
          var directionsDisplay = new google.maps.DirectionsRenderer({
            map: map,
             suppressMarkers: true, // выключить отображение маркеров А и Б
               polylineOptions: { strokeColor: color,  strokeOpacity: 1.0, strokeWeight: 4 } // покраска линии
          });

          // Instantiate an info window to hold step text.
          var stepDisplay = new google.maps.InfoWindow;

          // Display the route between the initial start and end selections.
          calculateAndDisplayRoute(
                  directionsDisplay, directionsService, markerArray, stepDisplay, map, start, end,);
          // Listen to change events from the start and end lists.
          var onChangeHandler = function () {
            calculateAndDisplayRoute(
                    directionsDisplay, directionsService, markerArray, stepDisplay, map, start, end);
          };
          // падает ошибка в логи вместе с этими строками
          // document.getElementById('start').addEventListener('change', onChangeHandler);
          // document.getElementById('end').addEventListener('change', onChangeHandler);
        }
      }

      function calculateAndDisplayRoute(directionsDisplay, directionsService,
          markerArray, stepDisplay, map, start, end) {
        // First, remove any existing markers from the map.
        // var waypts = [];
        // for (var i = 0; i < points_x.length; i++) {
        //     var waypoints = new google.maps.LatLng(points_x[i], points_y[i]);
        //     waypts.push({
        //         location: waypoints,
        //         stopover: true
        //     });
        // }
        for (var i = 0; i < markerArray.length; i++) {
            markerArray[i].setMap(null);
        }

        // Retrieve the start and end locations and create a DirectionsRequest using
        // WALKING directions.
        // waypoints: waypts, промежуточные точки
        directionsService.route({
          origin: start,
          destination: end,
          travelMode: 'DRIVING',
        }, function(response, status) {
          // Route the directions and pass the response to a function to create
          // markers for each step.
          if (status === 'OK') {
            document.getElementById('warnings-panel').innerHTML =
                '<b>' + response.routes[0].warnings + '</b>';
            directionsDisplay.setDirections(response);
            showSteps(response, markerArray, stepDisplay, map);
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }

      function showSteps(directionResult, markerArray, stepDisplay, map) {
        // For each step, place a marker, and add the text to the marker's infowindow.
        // Also attach the marker to an array so we can keep track of it and remove it
        // when calculating new routes.
        var myRoute = directionResult.routes[0].legs[0];
        for (var i = 0; i < myRoute.steps.length; i++) {
          var marker = markerArray[i] = markerArray[i] || new google.maps.Marker;
          marker.setMap(map);
          marker.setVisible(false); // убираем отображение промежуточных маркеров
          marker.setPosition(myRoute.steps[i].start_location);
          attachInstructionText(
              stepDisplay, marker, myRoute.steps[i].instructions, map);
        }
      }

      function attachInstructionText(stepDisplay, marker, text, map) {
        google.maps.event.addListener(marker, 'click', function() {
          // Open an info window when the marker is clicked on, containing the text
          // of the step.
          stepDisplay.setContent(text);
          stepDisplay.open(map, marker);
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_KEY}}&callback=initMap">
    </script>
  </body>
</html>